<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:appComponentFactory="app"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.acivity.search.SearchActivity" />
        <activity android:name=".ui.acivity.mine.NoticeListAcitivity" />
        <activity android:name=".ui.acivity.mine.NoticeDetailsActivity" />
        <activity android:name=".ui.acivity.mine.MyfilelistActivity" />
        <activity android:name=".ui.acivity.PracticeActivity" />
        <activity android:name=".ui.acivity.PorfolioActivity" />
        <activity android:name=".ui.acivity.setting.SetNameActivity" />
        <activity android:name=".ui.acivity.setting.SettingActivity" />
        <activity android:name=".ui.acivity.exercises.ExercisesActivity" />
        <activity android:name=".ui.acivity.exercises.ExercisesResultActivity"/>
        <activity android:name=".ui.acivity.pdf.PdfActivity"/>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.acivity.course.CourseActivity" />
        <activity
            android:name=".ui.acivity.login.VerifyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.acivity.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.acivity.login.LoginActivity"/>
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>